# Port for the application (dynamic in production)
PORT=3000

# MongoDB Connection String (Atlas Connection string in production)
MONGO_URI=mongodb://0.0.0.0:27017

# JSON Web Token Secret Key
JWT_SECRET=instavibe_super_secret_key_123

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=dd5ocdlrh
CLOUDINARY_API_KEY=794465395558833
CLOUDINARY_API_SECRET=WE_yoeQyLZNUsj1PWAGmz6rJpFU
